@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --generic-font: 'Merriweather Sans', sans-serif;
  }

  body{
   background-color: var(--body-bg-color);
   font-family: var(--generic-font);
   margin: 0;
   padding: 0;
  }
  
  .sections-wrapper{
    display: flex;
    gap: 3.80%;
    width: 100%;
    padding: 2rem;
  }

  .generic-card-style{
    background-color: var(--bg-cards);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }

  .collumn-1{
    display: grid;
    /* border: solid white 2px; */
    row-gap: 2rem;
  }

  .collumn-2{
    display: flex;
    border: solid red 2px;

  }

  #profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  #my-informations{
    width: 348px;
    height: auto;
  }
  
  ul{
    padding-left: 1rem;
  }

  .information-generic-styles {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2.5rem;
    list-style-type: none;
    line-height: 1.5;
  }

  #location-icon {
    background-image: url('/images/map-pin.svg');

  }
  
  #ocupation-icon {
    background-image: url('/images/briefcase.svg');
  }
  
  #gitHub-icon {
    background-image: url('/images/github.svg');
  }
  
  #linkedin-icon {
    background-image: url('/images/linkedin.svg');
  }
  
  #email-icon {     
    background-image: url('/images/mail.svg');
  }

  #my-skills{
    width: 348px;
    height: auto;
  }

  #my-experiences{
    width: 348px;
    height: auto;

  }

  #education{
    width: 348px;
    height: auto;

  }

  .profile-picture{
    height: 128px;
    width: 128px;
  }

  h3{
    font-weight: 700;
  }

  p{
    font-weight: 400;
  }
  
  #my-name{
    margin: 1.5rem 0 0.7rem 0;
    font-size:1rem;
  }

  #my-profession{
    margin: 0;
    font-size:0.8rem;
  }