@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

/* global styles */
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
  --generic-font: "Merriweather Sans", sans-serif;
}

h3 {
  font-weight: 700;
  margin: 1rem 0 0 0;
}

h4 {
  font-weight: 500;
  margin: 0;
}

p {
  font-weight: 400;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--generic-font);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* left side */
.collumn-1 {
  display: grid;
  row-gap: 2rem;
}

.sections-wrapper {
  display: flex;
  gap: 3.8%;
  width: 100%;
  padding: 2rem;
}

.generic-card-style {
  background-color: var(--bg-cards);
  color: var(--text-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

}

#image-container {
  border-radius: 50%;
  width: 148px;
  height: 148px;
}

.profile-picture {
  width: 104px;
  object-fit: cover;
}

ul {
  padding-left: 1rem;
}

.information-generic-styles {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 2.5rem;
  list-style-type: none;
  line-height: 1.5;
  margin: 0 0 0.5rem 0;  
}

#location-icon {
  background-image: url("/images/map-pin.svg");
}

#ocupation-icon {
  background-image: url("/images/briefcase.svg");
}

#gitHub-icon {
  background-image: url("/images/github.svg");
}

#linkedin-icon {
  background-image: url("/images/linkedin.svg");
}

#email-icon {
  background-image: url("/images/mail.svg");
}

#skills-container {
  display: grid;
  grid-template-areas:
    " . . ."
    " . . .";
}

.my-skills {
  background-color: var(--bg-techs);
  border-radius: 0.6rem;
  text-align: center;
  color: black;
  font-size: 0.8rem;
  width: 6rem;
  padding: 0.2rem;
  margin: 0.4rem 0.3rem;
}

#my-name {
  margin: 1.5rem 0 0.7rem 0;
}

#my-profession {
  margin: 0;
  font-size: 0.8rem;
}

.li-comun-margin{
  margin-bottom: 0.5rem ;
}

/* right side */
.collumn-2 {
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 60vw;
  padding: 0 2rem 0 0;
  margin: 0 2rem 0 0;
}

#git-portifolios-wrapper{
  display: flex;
  justify-content: space-evenly;
}

#my-projects-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

#my-projects-h3-margin{
  margin: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  font-size: smaller;
}

a:link {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

#git-project-container{
  display: flex;
  padding: 1.2rem;
  width: 461px;
  height: 186px;
  flex-direction: column;
}

#git-paragraph{
  padding-left: 1rem;
}

#folder-image{
  padding-right: 0.5rem;
  width: 16px;
  height: 15px;
}

#folder-icon{
  background-image: url(/images/folder.svg);
}